Welcome
Hello {{ name }}!

<a href="#" onclick="document.getElementById('container').innerHTML = 'jsok'" id="gojs">gojd</a>
<a href="#" id="container" onclick="document.getElementById('container').innerHTML = 'jsko'"></a>

